# cloudstack-set-guest-sshkey

description "Initial setup of instance."

start on (startup and
          started networking and
          starting ssh)

task
exec /usr/share/cloudstack/cloudstack-firstboot start
