[Unit]
Description=CloudStack First Boot
After=network.target
Before=sshd.service

[Service]
Type=oneshot
ExecStart=/usr/share/cloudstack/cloudstack-firstboot start

[Install]
WantedBy=multi-user.target

# This service file runs the firstboot-cloudstack
