[Unit]
Description=CloudStack Guest Password Reset
After=network.target local-fs.target
Before=sshd.service

[Service]
Type=oneshot
ExecStart=/usr/share/cloudstack/cloudstack-set-guest-password start

[Install]
WantedBy=multi-user.target

# This service file runs the cloudstack-set-guest-password
