#!/bin/sh
# PROVIDE: cloudstack_set_guest_password
# REQUIRE: DAEMON networking
# BEFORE:  LOGIN
# KEYWORD: nojail

. /etc/rc.subr

name=cloudstack_set_guest_password
rcvar=cloudstack_set_guest_password_enable

command="/usr/share/cloudstack/${name}"

load_rc_config $name
run_rc_command "$1"