#!/bin/sh
# PROVIDE: cloudstack-set-guest-sshkey
# REQUIRE: DAEMON networking
# BEFORE:  LOGIN
# KEYWORD: nojail

. /etc/rc.subr

name=cloudstack-set-guest-sshkey
rcvar=cloudstack_set_guest_sshkey_enable

command="/usr/share/cloudstack/${name}"

load_rc_config $name
run_rc_command "$1"