#!/bin/sh
# PROVIDE: cloudstack_firstboot
# REQUIRE: DAEMON networking
# BEFORE:  LOGIN
# KEYWORD: nojail

. /etc/rc.subr

name=cloudstack_firstboot
rcvar=cloudstack_firstboot_enable

command="/usr/share/cloudstack/${name}"

load_rc_config $name
run_rc_command "$1"