#!/bin/bash
### BEGIN INIT INFO
# Provides:          cloud-userdata
# Required-Start:    $network $local_fs $remote_fs $syslog $all
# Required-Stop:     $network $local_fs $remote_fs $syslog $all
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Download and run Cloud userdata
# Description:       Downloads and executes any userdata specified when initializing the virtual machine.
### END INIT INFO

set -e

. /lib/lsb/init-functions

# Modify this line to specify the user (default is root)
user=root

. /usr/share/cloudstack/cloudstack-common-functions

function cloud_run_userdata {

  find_lease
  echo "Using DHCP lease from $LEASE_FILE"

  HOSTNAME=`grep host-name $LEASE_FILE | awk '{print $NF}' | tr -d '\;' | tr -d '"' | uniq`
  CLOUD_DIR=/var/lib/cloud/instances/$HOSTNAME
  USER_DATA=/var/lib/cloud/instances/$HOSTNAME/user-data
  LOCK=/var/lib/cloud/user-data.ran
  user_data_received=0
  file_count=0

  if [ -f $LOCK ]
  then
    logger -t "cloud" "User-Data appears to be executed once, skipping"
    exit 0
  fi

  if [ ! -d $CLOUD_DIR ]
  then
    mkdir -p $CLOUD_DIR
  fi


  USER_DATA_SERVER_IP=$(grep dhcp-server-identifier $LEASE_FILE | tail -1 | awk '{print $NF}' | tr -d '\;')
  if [ -n $USER_DATA_SERVER_IP ]
  then
    logger -t "cloud" "Sending request to USER-DATA server at $USER_DATA_SERVER_IP"
    wget -t 3 -T 20 -O $USER_DATA http://$USER_DATA_SERVER_IP/latest/user-data 2>/dev/null
    if [ $? -eq 0 ]
    then
      logger -t "cloud" "Got user-data from server at $USER_DATA_SERVER_IP"
      if [ -s $USER_DATA ]; then
        chmod 600 $USER_DATA
        user_data_received=1
      else
        logger -t "cloud" "User-data is empty"
      fi
    fi
    else
      logger -t "cloud" "Could not find user-data server IP in $LEASE_FILE"
    fi

  # did we get the user-data?
  if [ "$user_data_received" == "0" ]
  then
    logger -t "cloud" "Failed to get user-data from any server"
    exit 1
  fi
   
  # test/execute user-data
  if [ "$user_data_received" == "1" ]
  then
    line1=`head -1 $USER_DATA`
    echo $line1 | grep -q ^#!
    if [ $? -eq 0 ]; then
      if [ -f $LOCK ]
      then
        logger -t "cloud" "User-Data appears to be executed once, skipping"
        exit 0
      else
        grep -r $'\r' $USER_DATA
        if [ $? -ne 0 ]; then
          chmod 700 $USER_DATA
          $USER_DATA
        else
          sed -i -e 's/\r//g' $USER_DATA
          chmod 700 $USER_DATA
          $USER_DATA
        fi

        chmod 600 $USER_DATA
        echo 'do not delete' > $LOCK
        logger -t "cloud" "user-data executed"
      fi
      else
        logger -t "cloud" "user-data is not a executable script"
      fi
  fi
}

case "$1" in
  start)
      log_action_msg "Starting cloud" "cloud-run-userdata"
      sleep 10
      cloud_run_userdata
      if [ $? -eq 0 ]; then
          log_end_msg 0
      else
          log_end_msg 1
      fi
      ;;
  stop)
      log_action_msg "Stopping cloud" "cloud-run-userdata"
      log_end_msg 0
      ;;
  *)
      log_action_msg "Usage: /etc/init.d/cloud-run-userdata {start}"
      exit 1
      ;;
esac
exit 0
