# cloudstack-set-guest-sshkey

description "set root sshkeys from CloudStack metadata"

start on (startup and
          started networking)

task
exec /usr/share/cloudstack/cloudstack-set-guest-sshkey start