# cloudstack-set-guest-password

description "set root password from CloudStack metadata"

start on (startup and
          started networking)

task
exec /usr/share/cloudstack/cloudstack-set-guest-password start